*.csharp linguist-detectable=true  
*.css linguist-detectable=true  
*.js linguist-detectable=true  
*.html linguist-detectable=true  
*.xml linguist-detectable=false
*.java linguist-detectable=true
*.json linguist-detectable=true
*.aspx linguist-detectable=false
