*.html linguist-language=HTML
*.css linguist-language=CSS
*.java linguist-language=Java
*.js linguist-language=JavaScript
*.cs linguist-language=C#
*.aspx linguist-language=ASP.NET
*.json linguist-language=JSON
